<p style="height:100px;line-height:100px;background-color:lime;color:white;font-size:46px;font-weight:bold;font-family:serif;padding-left:12px">
    Tabula
</p>

<p style="height:60px;line-height:60px;background-color:lime;color:white;font-size:32px;font-weight:bold;font-family:serif;padding-left:12px">
    Populations Status Reporting in Syria - Project
</p>

In [53]:
import tabula as tbl
import numpy as np
import pandas as pd

In [15]:
tables = tbl.read_pdf('../DataSets/Syria_Info.pdf', pages='all')

In [16]:
type(tables)

list

In [17]:
len(tables)

7

In [18]:
table_6 = tables[6]

In [19]:
table_6.shape

(18, 3)

In [20]:
 table_6.columns

Index(['10', 'تقدير حجم الضرر نتيجة الأزمة بمقياس  0 إلى', 'Unnamed: 0'], dtype='object')

In [21]:
table_6.index

RangeIndex(start=0, stop=18, step=1)

In [22]:
table_6

,10,تقدير حجم الضرر نتيجة الأزمة بمقياس 0 إلى,Unnamed: 0
0,المنازل السكنية,الطرق والجسور المؤسسات العامة,NaN
1,متوسط حجم الضرر,متوسط حجم الضرر متوسط حجم الضرر,NaN
2,1.9,1.4 1.1,دمشق
3,4.3,5.1 3.7,حلب
4,2.8,2.9 1.5,ريف دمشق
5,3.7,3.1 2.3,حمص
6,2.9,2.7 2.0,حماة
7,.8,.8 .5,اللاذقية
8,2.9,4.3 1.7,ادلب
9,1.9,4.6 2.0,الحسكة
10,2.2,5.3 3.3,دير الزور
11,.1,.2 .0,طرطوس
12,1.7,6.1 3.4,الرقة
13,3.7,4.3 2.8,درعا
14,.1,.1 .1,السويداء
15,4.4,4.1 3.7,القنيطرة
16,2.7,3.3 2.1,القطر
17,مشروع تقرير حالة السكان,NaN,NaN

In [70]:
columns_eng_6 = [
    'Roads&Bridges', 
    'Civ_Buildings', 
    'Gov_Building'
]

In [71]:
new_index_eng = [
    'Damascus',
    'Allepo',
    'Rif_Damascus',
    'Homs',
    'Hama',
    'Latakia',
    'Idleb',
    'Al_Hasakah',
    'Deir_Elzzor',
    'Tartous',
    'Alrrakah',
    'Daraa',
    'Alssweidaa',
    'Alquneitrah',
    'Country'
]

In [56]:
col_1 = table_6['10'].iloc[2:-1].values

In [57]:
col_2 = table_6[table_6.columns[1]].iloc[2:-1].apply(lambda x : x.split(' ')[0]).astype('float64').values

In [58]:
col_3 = table_6[table_6.columns[1]].iloc[2:-1].apply(lambda x : x.split(' ')[1]).astype('float64').values

In [61]:
new_table_6 = pd.DataFrame({
    columns_eng_6[0] : col_1,
    columns_eng_6[1] : col_2,
    columns_eng_6[2] : col_3
}, index=new_index_eng)

new_table_6

             Roads&Bridges  Civ_Buildings  Gov_Building
Damascus               1.9            1.4           1.1
Allepo                 4.3            5.1           3.7
Rif_Damascus           2.8            2.9           1.5
Homs                   3.7            3.1           2.3
Hama                   2.9            2.7           2.0
Latakia                 .8            0.8           0.5
Idleb                  2.9            4.3           1.7
Al_Hasakah             1.9            4.6           2.0
Deir_Elzzor            2.2            5.3           3.3
Tartous                 .1            0.2           0.0
Alrrakah               1.7            6.1           3.4
Daraa                  3.7            4.3           2.8
Alssweidaa              .1            0.1           0.1
Alquneitrah            4.4            4.1           3.7
Country                2.7            3.3           2.1

In [62]:
table_0 = tables[0]

In [63]:
table_0.shape

(19, 3)

In [65]:
table_0.columns

Index(['الحصول على غاز الطهي - الأزمة', 'الحصول على غاز الطهي - قبل الأزمة',
       'Unnamed: 0'],
      dtype='object')

In [66]:
table_0.index

RangeIndex(start=0, stop=19, step=1)

In [67]:
table_0

   الحصول على غاز الطهي - الأزمة الحصول على غاز الطهي - قبل الأزمة Unnamed: 0
0      سيء   وسط   جيد   لا أعرف               وسط   جيد   المجموع        NaN
1                            NaN                               NaN        NaN
2                  %   %   %   %                         %   %   %        NaN
3               .0 54.7 35.8 9.4                    100.0 100.0 .0       دمشق
4              .0 19.1 52.2 28.7                    100.0 94.2 5.8        حلب
5              .0 38.8 28.6 32.7                    100.0 100.0 .0   ريف دمشق
6             2.5 45.0 40.0 12.5                    100.0 97.8 2.2        حمص
7              .0 14.0 60.5 25.6                    100.0 100.0 .0       حماة
8                .0 89.6 6.3 4.2                    100.0 98.0 2.0   اللاذقية
9               .0 6.5 28.3 65.2                    100.0 100.0 .0       ادلب
10                .0 .0 .0 100.0                    100.0 97.5 2.5     الحسكة
11              .0 9.3 23.3 67.4                    100.0 100.0 .0  دير الزور
12               .0 70.3 29.7 .0                    100.0 97.3 2.7      طرطوس
13                .0 .0 .0 100.0                    100.0 100.0 .0      الرقة
14            1.8 29.1 41.8 27.3                    100.0 98.2 1.8       درعا
15                .0 100.0 .0 .0                    100.0 100.0 .0   السويداء
16             .0 28.6 28.6 42.9                    100.0 100.0 .0   القنيطرة
17             .3 34.4 32.8 32.5                    100.0 98.1 1.9      القطر
18       مشروع تقرير حالة السكان                               NaN        NaN

In [72]:
iterables = [
    ['Getting_Gas_befor_War', 'Getting_Gas_in_War'],
    ['Bad', 'Medium', 'Good', 'Unknown']
]
columns_eng_0 = pd.MultiIndex.from_product(iterables, names=['Time', 'Degree'])

In [78]:
rows_num = len(new_index_eng)
cols_num = columns_eng_0.shape[0]

table_values = np.zeros((rows_num, cols_num))

new_table_0 = pd.DataFrame(table_values, index=new_index_eng, columns=columns_eng_0)

In [92]:
new_table_0[('Getting_Gas_befor_War', 'Medium')] = \
                        table_0[table_0.columns[1]].iloc[3:-1].apply(lambda x : x.split(' ')[2]).values

new_table_0[('Getting_Gas_befor_War', 'Good')] = \
                        table_0[table_0.columns[1]].iloc[3:-1].apply(lambda x : x.split(' ')[1]).values

new_table_0[('Getting_Gas_in_War', 'Bad')] = \
                        table_0[table_0.columns[0]].iloc[3:-1].apply(lambda x : x.split(' ')[3]).values

new_table_0[('Getting_Gas_in_War', 'Medium')] = \
                        table_0[table_0.columns[0]].iloc[3:-1].apply(lambda x : x.split(' ')[2]).values

new_table_0[('Getting_Gas_in_War', 'Good')] = \
                        table_0[table_0.columns[0]].iloc[3:-1].apply(lambda x : x.split(' ')[1]).values

new_table_0[('Getting_Gas_in_War', 'Unknown')] = \
                        table_0[table_0.columns[0]].iloc[3:-1].apply(lambda x : x.split(' ')[0]).values

In [93]:
new_table_0

Time         Getting_Gas_befor_War                       Getting_Gas_in_War  \
Degree                         Bad Medium   Good Unknown                Bad
Damascus                       0.0     .0  100.0     0.0                9.4
Allepo                         0.0    5.8   94.2     0.0               28.7
Rif_Damascus                   0.0     .0  100.0     0.0               32.7
Homs                           0.0    2.2   97.8     0.0               12.5
Hama                           0.0     .0  100.0     0.0               25.6
Latakia                        0.0    2.0   98.0     0.0                4.2
Idleb                          0.0     .0  100.0     0.0               65.2
Al_Hasakah                     0.0    2.5   97.5     0.0              100.0
Deir_Elzzor                    0.0     .0  100.0     0.0               67.4
Tartous                        0.0    2.7   97.3     0.0                 .0
Alrrakah                       0.0     .0  100.0     0.0              100.0
Daraa                          0.0    1.8   98.2     0.0               27.3
Alssweidaa                     0.0     .0  100.0     0.0                 .0
Alquneitrah                    0.0     .0  100.0     0.0               42.9
Country                        0.0    1.9   98.1     0.0               32.5

Time
Degree       Medium   Good Unknown
Damascus       35.8   54.7      .0
Allepo         52.2   19.1      .0
Rif_Damascus   28.6   38.8      .0
Homs           40.0   45.0     2.5
Hama           60.5   14.0      .0
Latakia         6.3   89.6      .0
Idleb          28.3    6.5      .0
Al_Hasakah       .0     .0      .0
Deir_Elzzor    23.3    9.3      .0
Tartous        29.7   70.3      .0
Alrrakah         .0     .0      .0
Daraa          41.8   29.1     1.8
Alssweidaa       .0  100.0      .0
Alquneitrah    28.6   28.6      .0
Country        32.8   34.4      .3